*{
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.90rem;
    line-height: 1.6;
    margin: 6px;
    padding: 6px;
    background-color: #ffe0a2;
    color: #333;
}

/*try to figure out how to get custom text*/

header {
    font-family: cursive;
    background-color: #582B11;
    color: #fef6e2;
    padding: 10px 0;
    text-align: center;
}

h2 {
    color: #6bbff0;
    text-align: left;
}

section {
    background-color: #fef6e2;
    color: #fef6e2
    text #fef6e2;
    padding: 5px, 5px, 5px, 5px;
}

ul {
    text-decoration-color: #582B11;
    list-style: none;
}

ol {
    list-style: circle;
}

nav a:hover {
    background-color: #6a422a;
    padding: 1px, 1px, 1px, 1px;
}

nav a {
    border-radius: 0px;
    color: #fef6e2;
    padding: 1em;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

img {
    max-width: 50%;
}

footer {
    text-align: center;
    padding: 10px 0;
    border-top: #ffe0a2;
    border-top-width: 15px;
    border-top-style: solid;
    background-color: #8f512e;
    color: #fef6e2;
    position: relative;
    bottom: 0;
    width: 100;
}

table {
    border: 5px;
    width: 30%;
    background-color: #fef6e2;
    font-size: 12px;
    text-align: center;
}

aside {
    width: 30%;
    float: left;
    padding: 10px;
}

article {
    width: 40%;
    float: left;
    padding: 10px;
}