@import url(https://fonts.googleapis.com/css2?family=Sour+Gummy&display=swap);

:root {
    font-size: 100%;
}

body {
    font-family: Sour gummy, Georgia, 'Times New Roman', Times, serif;
    font-size: 0.90rem;
    line-height: 1.6;
    margin: 6px;
    padding: 6px;
    background-color: #eeccd4;
    color: #333;
}

header {
    font-family: cursive;
    background-color: #F2E3BC;
    color: #582B11;
    padding: 10px 0;
    text-align: center;
}

/*section*/
section {
    background-color: #edbcc7;
    color: #582B11
}

main section {
    margin-bottom: 20px;
    height: 5px;
}

/*lists*/
ul {
    text-align: center;
    list-style: none;
    text-decoration-color: #582B11;
}

/*navigation section*/
nav a:hover {
    background-color: #e9cf8c;
    padding: 15px;
}

nav a {
    border-radius: 0px;
    color: #582B11;
    padding: 1em;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/*image section*/
img {
    max-width: 50%;
    flex: 3;
    background-color: #f4ebd5;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #F2E3BC;
    color: #582B11;
    position: relative;
    border-top: #eeccd4;
    border-top-width: 10px;
    border-top-style: solid;
    top: 120px;
    bottom: 0;
    width: 975px;
}